<div class="row" *ngIf="blogPosts">
    <div class="col-lg-12">
        <div class="row" *ngFor="let blogPost of blogPosts">
            <article class="col-lg-12">
                <header>
                    <h1 class="title">{{blogPost.title}}</h1>
                    <span class="published">Published at: {{blogPost.publishedAt | date: 'fullDate'}}</span>
                </header>
                <div class="row">
                    <div class="col-lg-12">
                        {{blogPost.content}}
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>