body > app-root > .container {
    padding-top: 100px;
}

body {
    margin-bottom: 60px;
}

h1.sitename {
    font-size: 2rem;
}

.page-footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding-top: 10px;
}

.fa {
    padding-right: 5px;
}

header {
    margin-bottom: 1rem;
}
header .title {
    margin-bottom: 0.01rem;
}
.blog-post {
    .meta {
        margin-bottom: 1.25rem;
        color: #999999;
    }
}

.title {
    font-size: 2rem;
}
